
body{margin: 40px;}
.todoCS,.dateCS{
  font-size: 20px;
  margin-right: 10px;
}
.addCS{
  font-size: 14px;
  padding: 6px 36px;
  background-color: green;
  color: white;
}
.removeCS{
  background-color: red;
  margin-left: 20px;
  font-size: 14px;
  padding: 6px 36px;
}